<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qrattendance">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.QRAttendance">
        <activity android:name=".StudentScannerActivity" />
        <activity android:name=".GenerateQRActivity" />
        <activity android:name=".TeacherDashboard" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
